@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Chivo&family=Karla&family=Montserrat:wght@300&family=PT+Sans&display=swap');

.container {
  height: 100vh;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}




.scoreboard-block {
  display: none;
border-radius: 0.5vh;
  position: absolute;
    height: auto;
    font-family: 'Karla', sans-serif;
    max-width: 50vh;
  width: 30vh;
  left: 3vh;
  top: 40vh;
  margin: 1vh;
  overflow: scroll;
    padding-bottom: 13px;
  background-color: rgb(34 40 49 / 95%);
}



.scoreboard-header {
  position: relative;
  /* width: 92%; */
      height: 4vh;
margin: 1.7vh 1.3vh 0vh 1.7vh;
background: rgb(71 71 71 / 68%);
    font-family: 'Karla', sans-serif;
 border-radius: 0.2vh;
}

.scoreboard-header > p {
  text-align: center;
  font-weight: bold;
  color: #ededed;
  padding: 1.3vh;
font-family: 'Karla', sans-serif;
  font-size: 1.5vh;
}
#status-tab-label {
  position: absolute;
font-family: 'Karla', sans-serif;
  right: 3vh;
  font-weight: bold;
}

.info-beam-title {
  position: relative;
font-family: 'Karla', sans-serif;
  font-size: 1.3vh;
  padding-left: 3vh;
  margin-top: 11px;
  line-height: 2.5vh;
  font-weight: bold;
  color: #ededed;
}

.info-beam-title-players {
  position: absolute;
font-family: 'Karla', sans-serif;
  font-size: 1.3vh;
  letter-spacing: 0.1vh;
  left: 2.4vh;
  line-height: 4vh;
  font-weight: bold;
  color: #ededed;
}

.info-beam-status {
  position: absolute;
font-family: 'Karla', sans-serif;
  right: 3vh;
  float: left;
  text-align: left;
  line-height: 4.25vh;
}

.scoreboard-info-beam {
  margin-top: .3vh;
  position: relative;
  height: 3.25vh;
  width: 100%;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.fa-times {
  color: #dc143c;
}

.fa-check {
  color: #28a745;
}

.fa-clock {
  color: #2873a7;
}